* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
}

p {
    text-align: center;
    color: white;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#parallax-1 {
    background-image: url('imagen1.jpg');
}

#parallax-2 {
    background-image: url('imagen2.jpg');
}

.content-section {
    height: 100hv;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.content-section h2, .content-section p {
    color: #333;
}

.content {
    text-align: center;
    color: white;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}